  
  <div class="box" style="background-color:rgb(24, 88, 158); height:100px; overflow: hidden">
   
    </div> 
 <div style="overflow: hidden;" >
   
    <div style="background-color:#1569C7; height:100%; border-style:none; padding-bottom: 35%" class="row" >
   
<h1 style="color: white; margin-left: 120px"> Welcome</h1>
   
   <div style="margin-left: 200px; ">
<div class="col-md-2" style="max-width: 250px;">
<A class="framework-nav-item" routerLink="/dashboard" routerLinkActive="active" style="background-color: #4f5b6f; box-shadow: 8px 8px 6px -4px black ">
        <DIV class="slb-icon">
          <svg xmlns="http://www.w3.org/2000/svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dashboard"></use>
          </svg>
        </DIV><br/>
        <SPAN>Dashboard</SPAN> </A>            
</div>
 <div class="col-md-2" style="max-width: 250px;">
<A class="framework-nav-item" routerLink="/seismicdrive" routerLinkActive="active" style="background-color: #4f5b6f; box-shadow: 8px 8px 6px -4px black ">
        <DIV class="slb-icon">
          <svg xmlns="http://www.w3.org/2000/svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-data" /> </svg>
        </DIV><br/>
        <SPAN style="text-overflow: ellipsis;">Seismic Drive</SPAN> </A>             
</div>
<div class="col-md-2" style="max-width: 250px;">
<A class="framework-nav-item " routerLink="/flowdesigner" routerLinkActive="active" style="background-color: #4f5b6f; box-shadow: 8px 8px 6px -4px black">
        <DIV class="slb-icon">
          <svg xmlns="http://www.w3.org/2000/svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-well" /> </svg>
        </DIV><br/>
        <SPAN>Flow Designer</SPAN> </A>            
</div>
<div class="col-md-2" style="max-width: 250px;">
<A class="framework-nav-item " routerLink="/joblist" routerLinkActive="active" style="background-color: #4f5b6f; box-shadow: 8px 8px 6px -4px black ">
        <DIV class="slb-icon">
          <svg xmlns="http://www.w3.org/2000/svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-data" /> </svg>
        </DIV><br/>
        <SPAN>Job List</SPAN> </A>              
</div>
<div class="col-md-2" style="max-width: 250px;">
 <A class="framework-nav-item " routerLink="/viewer" routerLinkActive="active" style="background-color: #4f5b6f; box-shadow: 8px 8px 6px -4px black ">
      <DIV class="slb-icon">
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-data" /> </svg>
      </DIV><br/>
      <SPAN>Viewer</SPAN> </A>   
    </div>

   </div>
</div>
 </div>
